.header {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: bisque;
}

.box {
  margin: 0 auto;
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  position: absolute;
  left: 50%;
  font-weight: 800;
  color: rgba(61, 61, 187, 0.2);
  transform: translateX(-50%);
  font-size: 35px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
}

@media only screen and (max-width: 680px) {
  .title {
    display: none;
  }
}
