.form {
  font-weight: 600;
  width: 500px;
  padding: 25px;
  border-radius: 3px;
  box-shadow: 0px 1px 2px 1px rgba(100, 100, 100, 0.3);
  margin: 0 auto 20px;
}

.input {
  width: 450px;
  margin: 3px auto;
  display: block;
  margin-bottom: 25px;
  font-size: 16px;
  padding: 10px 15px;
  border-radius: 4px;
  border: 1px solid rgb(190, 190, 190);
  outline: none;
}

.input:focus {
  border: 1px solid rgb(61, 61, 187);
}

.button {
  font-weight: 500;
  font-size: 16px;
  color: whitesmoke;
  width: 450px;
  margin: 0 auto;
  padding: 10px 10px;
  background-color: rgb(61, 61, 187);
  border: none;
  outline: none;
  border-radius: 4px;
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition-duration: 0.2s;
}

.button:active {
  transform: scale(0.9);
}
